* {
  box-sizing: border-box;
}

body{
  background-color: #f0f8ff;
  font-size: 100%;
}

.centreimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.linkcentre{
  display: block;
  text-align: center;
}

.textcen {
  text-align: center;
}

.SmallHeader {
  font-family:"Comic Sans MS", cursive, sans-serif;
}

figure {
  /*border: 1px #cccccc solid;*/
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: hsla(32, 80%, 70%, 70%);
  color: white;
  width: 60%;
  font-style: italic;
  padding: 2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#FigCap1 {
  margin-bottom: 0px;
}

#FigCap2 {
  margin-bottom: 40px;
}

.wholetext {
  border: 3px solid black;
  background: hsl(270, 60%, 90%);
  border-radius: 20px;
  padding-bottom: 20px;
}

.LargeLetter {
  /*font-weight: bold;*/
  font-size:4em;
  float: left;
  margin: 0 .1em 0 0;
  line-height: 0.85;
}

.section1 {
   height: 365px;
   /*border: 4px solid black;
   margin: 20px;
   background: hsl(270, 60%, 85%);*/
   
}

.figureleft {
   width: 50%;
   float: left;
   margin-top: 40px;
   padding-left: 30px;
}

.textsection1 {
   /*border: 2px #cccccc solid;*/
   padding: 4px 40px 4px 5px;
   vertical-align: middle;
   width: 50%;
   float: right;
   margin-top: 30px;
   text-align: justify;
}

.section2 {
   height: 420px;
   /*border: 4px solid black;
   margin: 20px;
   background: hsl(270, 60%, 85%);*/
}

.figureright {
   width: 50%;
   float: right;
   height: 360px;
   margin-top: 25px; 
}

.textsection2 {
   /*border: 2px #cccccc solid;*/
   padding: 4px 5px 4px 40px;
   vertical-align: middle;
   width: 50%;
   float: left;
   margin: auto;
   text-align: justify;
}
