.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.linkcentre{
  display: block;
  text-align: center;
}

.textcen {
  text-align: center;
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.figureleft {
   width: 700px;
   float: left;
}

.textsection1 {
   display: block;
   height: 320px;
   width: 600px;
   background-color: white;
   border: bold #cccccc solid;
   padding: 4px;
   margin: 5px;
}
