* {
  box-sizing: border-box;
}

.centreimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.linkcentre{
  display: block;
  text-align: center;
}

.textcen {
  text-align: center;
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.section1 {
   height: 365px;
   border: 4px solid black;
}

.figureleft {
   width: 50%;
   float: left;
}

.textsection1 {
   border: 2px #cccccc solid;
   padding: 4px 10px;
   vertical-align: middle;
   width: 50%;
   float: right;
   margin-top: 15px;
   text-align: justify;
}

